<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>e-fly_arrow</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>1</integer>
	</dict>
	<key>e-fly_chi</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>9</integer>
	</dict>
	<key>e-fly_slash</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<integer>1</integer>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>9</integer>
	</dict>
	<key>e-hit_block</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>6</integer>
	</dict>
	<key>e-hit_hit</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>6</integer>
	</dict>
	<key>e-hit_knock_fr</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>7</integer>
	</dict>
	<key>e-hit_knock_up</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>7</integer>
	</dict>
	<key>e-hit_slash_do</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>6</integer>
	</dict>
	<key>e-hit_slash_up</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>6</integer>
	</dict>
	<key>e-hit_stab_fr</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>5</integer>
	</dict>
	<key>e-hit_strike_fr</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>5</integer>
	</dict>
	<key>e-self_airPressure</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>7</integer>
	</dict>
	<key>e-self_begin</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>8</integer>
	</dict>
	<key>e-under_dust</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<integer>0</integer>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>6</integer>
	</dict>
	<key>e-under_explosion</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<integer>0</integer>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>10</integer>
	</dict>
	<key>e-under_fire</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<integer>0</integer>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>11</integer>
	</dict>
	<key>e-under_ice</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<integer>0</integer>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>12</integer>
	</dict>
	<key>e-under_lighting</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<integer>0</integer>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>9</integer>
	</dict>
	<key>e-under_smoke</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<integer>0</integer>
		<key>delay</key>
		<real>0.05</real>
		<key>frameCount</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
