<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forestCavalry_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>5</integer>
		<key>id</key>
		<string>forestCavalry</string>
	</dict>
	<key>forestCavalry_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestCavalry</string>
	</dict>
	<key>forestCavalry_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestCavalry</string>
	</dict>
	<key>forestCavalry_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>5</integer>
		<key>id</key>
		<string>forestCavalry</string>
	</dict>
	<key>forestCavalry_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestCavalry</string>
	</dict>
	<key>forestFlower_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestFlower</string>
	</dict>
	<key>forestFlower_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestFlower</string>
	</dict>
	<key>forestFlower_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestFlower</string>
	</dict>
	<key>forestFlower_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestFlower</string>
	</dict>
	<key>forestFlower_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestFlower</string>
	</dict>
	<key>forestFlower_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestFlower</string>
	</dict>
	<key>forestLancer_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>forestLancer</string>
	</dict>
	<key>forestLancer_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>11</integer>
		<key>id</key>
		<string>forestLancer</string>
	</dict>
	<key>forestLancer_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestLancer</string>
	</dict>
	<key>forestLancer_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestLancer</string>
	</dict>
	<key>forestLancer_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestLancer</string>
	</dict>
	<key>forestMage_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>forestMage</string>
	</dict>
	<key>forestMage_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>11</integer>
		<key>id</key>
		<string>forestMage</string>
	</dict>
	<key>forestMage_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>forestMage</string>
	</dict>
	<key>forestMage_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestMage</string>
	</dict>
	<key>forestMage_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestMage</string>
	</dict>
	<key>forestMage_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>forestMage</string>
	</dict>
	<key>forestTree_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestTree</string>
	</dict>
	<key>forestTree_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestTree</string>
	</dict>
	<key>forestTree_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestTree</string>
	</dict>
	<key>forestTree_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestTree</string>
	</dict>
	<key>forestTree_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestTree</string>
	</dict>
	<key>forestTree_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>forestTree</string>
	</dict>
	<key>homeOlder_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>15</integer>
		<key>id</key>
		<string>homeOlder</string>
	</dict>
	<key>homePeople_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>homePeople</string>
	</dict>
	<key>homePeople_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>12</integer>
		<key>id</key>
		<string>homePeople</string>
	</dict>
	<key>plainCavalry_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>5</integer>
		<key>id</key>
		<string>plainCavalry</string>
	</dict>
	<key>plainCavalry_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainCavalry</string>
	</dict>
	<key>plainCavalry_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainCavalry</string>
	</dict>
	<key>plainCavalry_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>5</integer>
		<key>id</key>
		<string>plainCavalry</string>
	</dict>
	<key>plainCavalry_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainCavalry</string>
	</dict>
	<key>plainLadder_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainLadder</string>
	</dict>
	<key>plainLadder_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainLadder</string>
	</dict>
	<key>plainLadder_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainLadder</string>
	</dict>
	<key>plainLadder_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>plainLadder</string>
	</dict>
	<key>plainLadder_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>plainLadder</string>
	</dict>
	<key>plainRusher_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>plainRusher</string>
	</dict>
	<key>plainRusher_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainRusher</string>
	</dict>
	<key>plainRusher_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>plainRusher</string>
	</dict>
	<key>plainRusher_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>plainRusher</string>
	</dict>
	<key>plainShielder_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>plainShielder</string>
	</dict>
	<key>plainShielder_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>11</integer>
		<key>id</key>
		<string>plainShielder</string>
	</dict>
	<key>plainShielder_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>plainShielder</string>
	</dict>
	<key>plainShielder_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainShielder</string>
	</dict>
	<key>plainShielder_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainShielder</string>
	</dict>
	<key>plainShielder_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainShielder</string>
	</dict>
	<key>plainSoldier_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>plainSoldier</string>
	</dict>
	<key>plainSoldier_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>11</integer>
		<key>id</key>
		<string>plainSoldier</string>
	</dict>
	<key>plainSoldier_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>plainSoldier</string>
	</dict>
	<key>plainSoldier_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainSoldier</string>
	</dict>
	<key>plainSoldier_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainSoldier</string>
	</dict>
	<key>plainSoldier_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>6</integer>
		<key>id</key>
		<string>plainSoldier</string>
	</dict>
	<key>selfFighter_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>selfFighter</string>
	</dict>
	<key>selfFighter_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfFighter</string>
	</dict>
	<key>selfFighter_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfFighter</string>
	</dict>
	<key>selfFighter_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfFighter</string>
	</dict>
	<key>selfFighter_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfFighter</string>
	</dict>
	<key>selfFighter_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfFighter</string>
	</dict>
	<key>selfFighter_win</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfFighter</string>
	</dict>
	<key>selfKnight_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>selfKnight</string>
	</dict>
	<key>selfKnight_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>selfKnight</string>
	</dict>
	<key>selfKnight_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>selfKnight</string>
	</dict>
	<key>selfKnight_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>selfKnight</string>
	</dict>
	<key>selfKnight_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>selfKnight</string>
	</dict>
	<key>selfKnight_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>selfKnight</string>
	</dict>
	<key>selfKnight_win</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>1</integer>
		<key>id</key>
		<string>selfKnight</string>
	</dict>
	<key>selfMage_att1</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfMage</string>
	</dict>
	<key>selfMage_att2</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfMage</string>
	</dict>
	<key>selfMage_att3</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>selfMage</string>
	</dict>
	<key>selfMage_hurt</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfMage</string>
	</dict>
	<key>selfMage_standby</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfMage</string>
	</dict>
	<key>selfMage_walk</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>8</integer>
		<key>id</key>
		<string>selfMage</string>
	</dict>
	<key>selfMage_win</key>
	<dict>
		<key>anchorPointX</key>
		<real>0.5</real>
		<key>anchorPointY</key>
		<real>0.5</real>
		<key>delay</key>
		<real>0.1</real>
		<key>frameCount</key>
		<integer>9</integer>
		<key>id</key>
		<string>selfMage</string>
	</dict>
</dict>
</plist>
