<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cavalryAtt01</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>4</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att1</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.09</real>
			</dict>
		</array>
		<key>camera</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.5</real>
				<key>isCenter</key>
				<true/>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>9</integer>
				<key>startTime</key>
				<real>0</real>
				<key>zoom</key>
				<real>0.9</real>
			</dict>
		</array>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-self_begin</string>
				<key>duration</key>
				<real>0</real>
				<key>endPoint</key>
				<integer>0</integer>
				<key>order</key>
				<integer>0</integer>
				<key>startPoint</key>
				<integer>0</integer>
				<key>startTime</key>
				<real>0</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-hit_strike_fr</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>5</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-self_airPressure</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>0</integer>
				<key>order</key>
				<integer>2</integer>
				<key>startPoint</key>
				<integer>0</integer>
				<key>startTime</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-under_explosion</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>12</integer>
				<key>order</key>
				<integer>11</integer>
				<key>startPoint</key>
				<integer>12</integer>
				<key>startTime</key>
				<real>0.67</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>startTime</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-100</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>6</integer>
				<key>startTime</key>
				<real>0.51</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.3</real>
			<key>order</key>
			<integer>10</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>20</integer>
				<key>order</key>
				<integer>7</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>8</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>fighterAtt01</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>4</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.68</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att1</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>2</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.58</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>walk</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>camera</key>
		<array/>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-hit_slash_up</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>3</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.78</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.6</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-100</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>5</integer>
				<key>startTime</key>
				<real>0.84</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.5</real>
			<key>order</key>
			<integer>8</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>60</integer>
				<key>order</key>
				<integer>6</integer>
				<key>startTime</key>
				<real>0.76</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>soundFileName</key>
				<string>explosion.caf</string>
				<key>startTime</key>
				<real>0.76</real>
			</dict>
		</array>
	</dict>
	<key>fighterAtt02</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>att2</string>
				<key>delay</key>
				<real>0.05</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>8</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>1.04</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att1</string>
				<key>delay</key>
				<real>0.05</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>2</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.32</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>9</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>1.06</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>walk</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>camera</key>
		<array/>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-hit_slash_up</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>4</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-hit_stab_fr</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>10</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>1.1</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-under_smoke</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>2</integer>
				<key>order</key>
				<integer>6</integer>
				<key>startPoint</key>
				<integer>2</integer>
				<key>startTime</key>
				<real>0.76</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>7</integer>
				<key>startTime</key>
				<real>0.76</real>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-75</integer>
				<key>destination</key>
				<string>3</string>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>12</integer>
				<key>startTime</key>
				<real>1.15</real>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-75</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>5</integer>
				<key>startTime</key>
				<real>0.52</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.8</real>
			<key>order</key>
			<integer>15</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>60</integer>
				<key>order</key>
				<integer>13</integer>
				<key>startTime</key>
				<real>1.15</real>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>10</integer>
				<key>order</key>
				<integer>11</integer>
				<key>startTime</key>
				<real>0.52</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>14</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>fighterAtt03</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>att1</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.4</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>5</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>walk</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att3</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>8</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>1.34</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>10</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>1.46</real>
			</dict>
		</array>
		<key>camera</key>
		<array/>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-hit_slash_do</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>4</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-self_airPressure</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>0</integer>
				<key>order</key>
				<integer>2</integer>
				<key>startPoint</key>
				<integer>0</integer>
				<key>startTime</key>
				<real>0.12</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-hit_slash_do</string>
				<key>duration</key>
				<real>0</real>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>9</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>1.46</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<real>-200</real>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>11</integer>
				<key>startTime</key>
				<real>1.59</real>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-100</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>6</integer>
				<key>startTime</key>
				<real>0.53</real>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>7</integer>
				<key>startTime</key>
				<real>1.22</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>2.5</real>
			<key>order</key>
			<integer>15</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>30</integer>
				<key>order</key>
				<integer>13</integer>
				<key>startTime</key>
				<real>0.54</real>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>60</integer>
				<key>order</key>
				<integer>14</integer>
				<key>startTime</key>
				<real>1.48</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>12</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>ladderAtt01</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>4</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att1</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.34</real>
			</dict>
		</array>
		<key>camera</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.5</real>
				<key>isCenter</key>
				<true/>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>8</integer>
				<key>startTime</key>
				<real>0.98</real>
				<key>zoom</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-self_begin</string>
				<key>duration</key>
				<real>0.1</real>
				<key>endPoint</key>
				<integer>0</integer>
				<key>order</key>
				<integer>0</integer>
				<key>startPoint</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-under_smoke</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>2</integer>
				<key>order</key>
				<integer>2</integer>
				<key>startPoint</key>
				<integer>2</integer>
				<key>startTime</key>
				<real>0.1</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>startTime</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-100</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>5</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.5</real>
			<key>order</key>
			<integer>9</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>60</integer>
				<key>order</key>
				<integer>6</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>ladderAtt02</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.05</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>plainLadder</string>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att2</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>referenceRole</key>
				<string>plainLadder</string>
				<key>startTime</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.05</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>7</integer>
				<key>referenceRole</key>
				<string>plainLadder</string>
				<key>startTime</key>
				<real>0.5</real>
			</dict>
		</array>
		<key>camera</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.5</real>
				<key>isCenter</key>
				<true/>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>13</integer>
				<key>startTime</key>
				<real>0.78</real>
				<key>zoom</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-self_begin</string>
				<key>duration</key>
				<real>0.1</real>
				<key>endPoint</key>
				<integer>0</integer>
				<key>order</key>
				<integer>0</integer>
				<key>startPoint</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-fly_arrow</string>
				<key>duration</key>
				<real>0.3</real>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>2</integer>
				<key>startPoint</key>
				<integer>1</integer>
				<key>startTime</key>
				<real>0.18</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-hit_block</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>1</integer>
				<key>order</key>
				<integer>10</integer>
				<key>startPoint</key>
				<integer>1</integer>
				<key>startTime</key>
				<real>0.18</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-fly_arrow</string>
				<key>duration</key>
				<real>0.3</real>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>6</integer>
				<key>startPoint</key>
				<integer>1</integer>
				<key>startTime</key>
				<real>0.24</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-hit_hit</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>4</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-hit_hit</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>8</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.5</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>-150</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>5</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-150</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>9</integer>
				<key>startTime</key>
				<real>0.5</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.5</real>
			<key>order</key>
			<integer>14</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.1</real>
				<key>level</key>
				<integer>60</integer>
				<key>order</key>
				<integer>12</integer>
				<key>startTime</key>
				<real>0.38</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>11</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>rusherAtt01</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>4</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.74</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att1</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>walk</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>camera</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.5</real>
				<key>isCenter</key>
				<true/>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>9</integer>
				<key>startTime</key>
				<real>1.06</real>
				<key>zoom</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-hit_strike_fr</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>6</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.74</real>
			</dict>
			<dict>
				<key>animation</key>
				<string>e-under_smoke</string>
				<key>duration</key>
				<real>0.5</real>
				<key>endPoint</key>
				<integer>2</integer>
				<key>order</key>
				<integer>2</integer>
				<key>startPoint</key>
				<integer>2</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-200</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>5</integer>
				<key>startTime</key>
				<real>0.74</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.8</real>
			<key>order</key>
			<integer>10</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>60</integer>
				<key>order</key>
				<integer>7</integer>
				<key>startTime</key>
				<real>0.74</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>8</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>shielderAtt01</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>4</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att2</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>walk</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>referenceRole</key>
				<string>selfFighter</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>camera</key>
		<array/>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-hit_strike_fr</string>
				<key>duration</key>
				<integer>0</integer>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>2</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>0.34</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<integer>-80</integer>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.3</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>5</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.5</real>
			<key>order</key>
			<integer>8</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>60</integer>
				<key>order</key>
				<integer>6</integer>
				<key>startTime</key>
				<real>0.44</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>soldierAtt01</key>
	<dict>
		<key>action</key>
		<array>
			<dict>
				<key>behavior</key>
				<string>hurt</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>4</integer>
				<key>referenceRole</key>
				<string>plainSoldier</string>
				<key>startTime</key>
				<real>0.96</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>att1</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>3</integer>
				<key>referenceRole</key>
				<string>plainSoldier</string>
				<key>startTime</key>
				<real>0.8</real>
			</dict>
			<dict>
				<key>behavior</key>
				<string>walk</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>1</integer>
				<key>referenceRole</key>
				<string>plainSoldier</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>behavior</key>
				<string>walk</string>
				<key>delay</key>
				<real>0.1</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>2</integer>
				<key>referenceRole</key>
				<string>plainSoldier</string>
				<key>startTime</key>
				<real>0.4</real>
			</dict>
		</array>
		<key>camera</key>
		<array/>
		<key>effect</key>
		<array>
			<dict>
				<key>animation</key>
				<string>e-hit_slash_up</string>
				<key>duration</key>
				<real>0</real>
				<key>endPoint</key>
				<integer>10</integer>
				<key>order</key>
				<integer>5</integer>
				<key>startPoint</key>
				<integer>10</integer>
				<key>startTime</key>
				<real>1.02</real>
			</dict>
		</array>
		<key>hit</key>
		<array/>
		<key>move</key>
		<array>
			<dict>
				<key>customMoveRange</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>1</integer>
				<key>duration</key>
				<real>0.8</real>
				<key>isSelf</key>
				<true/>
				<key>order</key>
				<integer>0</integer>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>customMoveRange</key>
				<real>-100</real>
				<key>destination</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.1</real>
				<key>isSelf</key>
				<false/>
				<key>order</key>
				<integer>6</integer>
				<key>startTime</key>
				<real>1.1</real>
			</dict>
		</array>
		<key>period</key>
		<dict>
			<key>duration</key>
			<real>1.8</real>
			<key>order</key>
			<integer>9</integer>
		</dict>
		<key>shock</key>
		<array>
			<dict>
				<key>duration</key>
				<real>0.3</real>
				<key>level</key>
				<integer>10</integer>
				<key>order</key>
				<integer>7</integer>
				<key>startTime</key>
				<real>1.1</real>
			</dict>
		</array>
		<key>sound</key>
		<array>
			<dict>
				<key>order</key>
				<integer>8</integer>
				<key>soundFileName</key>
				<string>drum.caf</string>
				<key>startTime</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
